body{
  background-color: #335;
  padding: 0;
  margin: 0;
}
.top{
  color: white;
  background-color: seagreen;
  text-align: right;
  padding : 20px 60px;
  margin top: 10px 50px;
}
.middle{
  color: white;
  text-align: center;
}
