body{
  background-color: #335;
  padding: 0;
  margin: 0;
}
.top{
  color: white;
  background-color: seagreen;
  text-align: right;
  padding : 10px 100px;
  margin : 50px ;
}
.middle{
  color: white;
  text-align: center;
}
